/* Region1 .what */

/* 1 .what */

/* 2 .container */

/* 3 .items */

/* 4 .item */
.what .item {
	display: flex;
	text-align: left;
}

/* 5 .fas */
.what .item .fas {
	align-self: center;
	margin-bottom: 0;
	margin-right: 1.3rem;
}

/* End1 .what */


/* Region1 .contact */

/* 1 .contact */

/* 2 .map */
.contact .map {
	flex: 2;
}

/* End1 .contact */