:root {
	--primary-color: #425b84;
	--secondary-color: #5b7bb4;
	--max-width: 1100px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--primary-color);
	color: #fff;
	font: normal 1rem/1.5 'Arial', sans-serif;
	overflow-x: hidden;
	padding-bottom: 3rem;
}

.main-header {
	background: var(--secondary-color);
	padding: 4rem;
}

.container {
	margin: 0 auto;
	max-width: var(--max-width);
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

ul {
	list-style: none;
	padding: 3rem 0;
}

li {
	background: #ffffff;
	margin: 0 auto;
	opacity: 0;
	padding-top: 3rem;
	position: relative;
	transition: all .5s ease-in-out;
	width: .5rem;
}

li.show {
	opacity: 1;
}

li::before {
	border-style: solid;
	bottom: .5rem;
	content: '';
	height: 0;
	position: absolute;
	transition: inherit;
	width: 0;
	z-index: 1;
}

li:nth-child(odd)::before {
	border-color: transparent var(--secondary-color) transparent transparent;
	border-width: .5rem 1rem .5rem 0;
	left: 1.5rem;
	transform: translateX(100vw);
}

li.show:nth-child(odd)::before {
	transform: translateX(0);
}

li:nth-child(even)::before {
	border-color: transparent transparent transparent var(--secondary-color);
	border-width: .5rem 0 .5rem 1rem;
	right: 1.5rem;
	transform: translateX(-100vw);
}

li.show:nth-child(even)::before {
	transform: translateX(0);
}


li::after {
	background: #ffffff;
	border-radius: 50%;
	bottom: 0;
	content: '';
	height: 2rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: background .5s ease-in-out;
	width: 2rem;
}

li.show::after {
	background: var(--secondary-color);
}


li > div {
	background: var(--secondary-color);
	bottom: 0;
	padding: 1rem;
	position: relative;
	transition: all .5s ease-in-out;
	width: 24rem;
}

li:nth-child(odd) > div {
	left: 2.5rem;
	transform: translateX(100vw);
}

li.show:nth-child(odd) > div {
	transform: translateX(0);
}

li:nth-child(even) > div {
	left: calc(100% - 26.5rem);
	transform: translateX(-100vw);
}

li.show:nth-child(even) > div {
	transform: translateX(0);
}

@media screen and (max-width: 900px) {
	li:nth-child(even)::before {
		transform: translateX(100vw);
	}
	
	li > div {
		max-width: 15rem;
	}
	
	
	li:nth-child(odd) > div {
		left: 2.5rem;
	}
	
	li:nth-child(even) > div {
		left: calc(100% - 17.5rem);
		transform: translateX(100vw);
	}
}

@media screen and (max-width: 600px) {
	li {
		margin: 0 0 0 5vw;
	}
	
	li > div {
		max-width: calc(100vw - 5rem);
	}
	
	li:nth-child(even)::before {
		border-color: transparent var(--secondary-color) transparent transparent;
		border-width: .5rem 1rem .5rem 0;
		left: 1.5rem;
	}
	
	li:nth-child(odd) > div {
		left: 2.5rem;
	}
	
	li:nth-child(even) > div {
		left: 2.5rem;
	}
}
